<header class="header">
  <nav class="nav-container">
    <div class="brand">
      <a href="/" class="logo">
        FINDY
        <span class="hand-icon">✋</span>
      </a>
    </div>

    <ul [class.show]="isMenuOpen" class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li *ngIf="!(recruiter$ | async)"><a routerLink="/user/jobs" routerLinkActive="active">Jobs</a></li>
      <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>

      <!-- Authentication Links -->
      <li *ngIf="!(user$ | async) && !(recruiter$ | async)">
        <a routerLink="/user/login" routerLinkActive="active">Job Seeker</a>
      </li>
      
      <li *ngIf="!(recruiter$ | async) && !(user$ | async)">
        <a routerLink="/recruiter/login" routerLinkActive="active">Recruiter</a>
      </li>

      <!-- User Profile -->
      <li *ngIf="user$ | async" class="profile-item">
        <a  class="user-icon">
          <img
            [src]="(user$ | async)?.imageUrl"
            alt="Job Seeker Profile Picture"
            class="profile-icon"
            (click)="goToUserDetails()"
          />
        </a>
      </li>

      <!-- Recruiter Profile -->
      <li *ngIf="recruiter$ | async" class="profile-item">
        <a  class="user-icon">
          <img
            [src]="(recruiter$ | async)?.imageUrl"
            alt="Recruiter Profile Picture"
            class="profile-icon"
            (click)="goToRecruiterDetails()"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
