<div class="change-password-content">
  <h2>Change Password</h2>
  <div class="profile-card">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form">
      <div class="form-group">
        <i class="fas fa-lock"></i>
        <div class="input-container">
          <label>Current Password</label>
          <input 
            type="password" 
            formControlName="currentPassword"
            [class.error]="isFieldInvalid('currentPassword')"
          >
          <div class="error-message" *ngIf="isFieldInvalid('currentPassword')">
            Current password is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <i class="fas fa-key"></i>
        <div class="input-container">
          <label>New Password</label>
          <input 
            type="password" 
            formControlName="newPassword"
            [class.error]="isFieldInvalid('newPassword')"
          >
          <div class="error-message" *ngIf="isFieldInvalid('newPassword')">
            {{ isFieldInvalid('newPassword') }}
          </div>
          
        </div>
      </div>

      <div class="form-group">
        <i class="fas fa-check-circle"></i>
        <div class="input-container">
          <label>Confirm New Password</label>
          <input 
            type="password" 
            formControlName="confirmPassword"
            [class.error]="isFieldInvalid('confirmPassword')"
          >
          <div class="error-message" *ngIf="isFieldInvalid('confirmPassword')">
            Passwords do not match
          </div>
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="cancel-button">
          <i class="fas fa-times"></i> Cancel
        </button>
        <button type="submit" class="submit-button" [disabled]="!passwordForm.valid">
          <i class="fas fa-save"></i> Update Password
        </button>
      </div>
    </form>
  </div>
</div>